<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/styleall.css') }}">
    <title>All</title>
</head>
<body>
<ul class="menu">
  <li class="menuitem"><p class="menulabel">Tools</p>
      <ul class="submenu">
          <li class="submenuitemtool"><button class="submenubuttontool">Tool1</button></li>
          <li class="submenuitemtool"><button class="submenubuttontool">Tool2</button></li>
          <li class="submenuitemtool"><button class="submenubuttontool">Tool3</button></li>
      </ul>
  </li>
  <li class="menuitem" onclick="new_empty_contact()"><p class="menulabel">New Contact</p></li>
  <li class="menuitem"><p class="menulabel">Show</p>
      <ul class="submenushow submenu">
          {% for i in labels %}
          <li class="submenushowitem" id="{{i}}showitem"><label class="showcheckboxlabel" id="{{i}}showcheckboxlabel}}"><input type="checkbox" class="submenushowcheckbox" id="{{loop.index}}showcheckbox" onclick="checkbox_clicked(this)"></input>{{i}}</label></li>
          {% endfor %}
      </ul>
  </li>
</ul>
<div class="grid-container">
    <div id=labelrow class="contact-row">
    {% for k in labels %}
        <p contenteditable="false" id=labelcol{{loop.index}} class="actual-box-content" onclick="sql_sort(this.innerHTML)">{{k}}</p>


    {% endfor %}
    </div>

    {% for i in rows %}
    {% set rowloop = loop %}
    <div id=row{{loop.index}} class="contact-row">
        {% for j in i %}
        {% if j != None %}
            <p contenteditable="false" id=row{{rowloop.index}}col{{loop.index}} class="actual-box-content">{{j}}</p>
        {% else %}
            <p id=row{{rowloop.index}}col{{loop.index}} class="empty-box"><br></p>
        {% endif %}
        {% endfor %}
        <br>
        <button id=roweditbutton{{loop.index}} class="edit-button" type="button" onclick="editclicked(this.id)">edit</button>
        <button id=rowsavebutton{{loop.index}} class="save-button" type="button" onclick="saveclicked(this.id)">save</button>
        <button id=rowdeletebutton{{loop.index}} class="delete-button" type="button" onclick="deleteclicked(this.id)">delete</button>
    </div>
    {% endfor %}
</div>
{% block javascript %}
    <script src="{{ url_for('static',filename='scripts/editbutton.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/show.js') }}"></script>
{% endblock %}
</body>
</html>
