<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/styleall.css') }}">
    <title>All</title>
</head>
<body>
<ul class="menu">
  <li class="menuitem"><p class="menulabel">Menu</p>
      <ul class="submenu">
          <li class="submenuitem"><button class="submenubutton" onclick="location.href = 'newcontact';">New Contact</button></li>
          <li class="submenuitem"><button class="submenubutton">New Contact</button></li>
          <li class="submenuitem"><button class="submenubutton">New Contact</button></li>
      </ul>
  </li>
  <li class="menuitem"><p class="menulabel">File</p></li>
</ul>
<div class="grid-container">
    {% for i in rows %}
    {% set rowloop = loop %}
    <div id=row{{loop.index}} class="contact-row">
        {% for j in i %}
        {% if j != None %}
            <p contenteditable="false" id=row{{rowloop.index}}col{{loop.index}} class="actual-box-content">{{j}}</p>
        {% else %}
            <p id=row{{rowloop.index}}col{{loop.index}} class="empty-box"><br></p>
        {% endif %}
        {% endfor %}
        <br>
        <button id=roweditbutton{{loop.index}} class="edit-button" type="button" onclick="editclicked(this.id)">edit</button>
        <button id=rowsavebutton{{loop.index}} class="save-button" type="button" onclick="saveclicked(this.id)">save</button>
    </div>
    {% endfor %}
</div>
{% block javascript %}
    <script src="{{ url_for('static',filename='scripts/editbutton.js') }}"></script>
{% endblock %}
</body>
</html>
