<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/styleall.css') }}">
    <title>All</title>
</head>
<body>

<ul class="menu">
  <li class="menuitem" onclick="merge_vcf()"><p class="menulabel">Import</p></li>
  <li class="menuitem" onclick="window.location.replace('/')"><p class="menulabel">Cancel</p></li>
</ul>

<table id="completetable" class="grid-container">
    <tr id=labelrow class="contact-row">
    {% for k in labels %}
        <th contenteditable="false" id=labelcol{{loop.index}} class="actual-box-content" onclick="sortTable(this.id)">{{k}}</th>
    {% endfor %}
        <th contenteditable="false" id=labelcolfill class="actual-box-content" style="visibility: hidden">filler</th>
        <th contenteditable="false" id=labelcolfilledit class="actual-box-content" style="visibility: hidden; display: none">filler</th>
    </tr>
    {% for i in rows %}
    {% set rowloop = loop %}
    <tr id=row{{loop.index}} class="contact-row">
        {% for j in i %}
        {% if j != None %}
            <td contenteditable="false" id=row{{rowloop.index}}col{{loop.index}} class="actual-box-content">{{j}}</td>
        {% else %}
            <td id=row{{rowloop.index}}col{{loop.index}} class="empty-box"><br></td>
        {% endif %}
        {% endfor %}
            <td id=roweditbutton{{loop.index}} class="edit-button" type="button" onclick="editclicked(this.id)">edit</td>
            <td id=rowsavebutton{{loop.index}} class="save-button" type="button" onclick="saveclicked(this.id, 'temp')">save</td>
            <td id=rowdeletebutton{{loop.index}} class="delete-button" type="button" onclick="delete_contact(this.id, 'temp')">delete</td>
    </tr>
    {% endfor %}
</table>
{% block javascript %}
    <script src="{{ url_for('static',filename='scripts/editbutton.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/show.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/sort.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/importvcf.js') }}"></script>
{% endblock %}
</body>
</html>
